/* Temporary Overrides for McKinsey */
/* These will soon be moved to an Open edX theme instead */
/* Every rule in this file MUST include the selector ".themed-xblock" to avoid affecting the old drag and drop v2 */

/* Bugfixes that we will merge into the upstream app soon: */
.themed-xblock.xblock--drag-and-drop .drag-container,
.themed-xblock.xblock--drag-and-drop .target-img-wrapper,
.themed-xblock.xblock--drag-and-drop .actions-toolbar
{
    /* Disallow selection on mobile, which causes problematic menu popups during drag and drop*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides that we want on Apros (desktop + mobile web) and native apps (webviews):
///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Hide the text at the top that says e.g. "1 point possible (ungraded)" (MCKIN-6169) */
.themed-xblock.xblock--drag-and-drop .problem-progress {
    display: none;
}
/* Don't display a border around the feedback text that appears below the drag and drop exercise (MCKIN-6169) */
.themed-xblock.xblock--drag-and-drop .feedback p {
    border: none;
}
/* Remove the grey background from disabled "reset" button */
.themed-xblock.xblock--drag-and-drop .sidebar-buttons button:disabled {
    background-color: transparent;
}

/* Align the Reset button to the right on mobile (non-McKinsey version has it left on mobile, right on desktop) */
.ltr .themed-xblock.xblock--drag-and-drop .actions-toolbar .action-toolbar-item.sidebar-buttons {
    float: right;
    padding-right: -5px;
    padding-top: 5px;
}
.rtl .themed-xblock.xblock--drag-and-drop .actions-toolbar .action-toolbar-item.sidebar-buttons {
    float: left;
    padding-left: -5px;
}

@media screen and (max-width: 480px) {
    /* Don't display "Keyboard Help" on mobile devices that don't have keyboards anyways */
    .themed-xblock.xblock--drag-and-drop .keyboard-help-button {
        display: none;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides that we want on Apros (desktop + mobile web) only:
///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Note .lesson-content is specific to Apros */
/* In Apros, the popups should always have a turquiose color, whether they're right or wrong (MCKIN-6169) */
.lesson-content .themed-xblock.xblock--drag-and-drop .popup, .popup.popup-incorrect {
    background-color: #66A5B5; /* $mckinsey-academy-turquoise; */
}

.xblock--drag-and-drop .popup .close-feedback-popup-desktop-button:focus {
    outline: none;
}

/* Apros mobile web overrides */
@media screen and (max-width: 480px) {
    /* Fix positioning of feedback popups in Apros mobile web (Apros PR 1715):
     * Without this fix, they overlap with the apros header
     */
    .lesson-content .themed-xblock.xblock--drag-and-drop .popup {
        max-height: calc(100vh - 210px);
        top: 150px;
        transform: translateX(-50%);
    }
    /* Feedback popups should always be white on mobile web: */
    .lesson-content .themed-xblock.xblock--drag-and-drop .popup, .popup.popup-incorrect {
        background-color: #fff;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides that we want in the native mobile apps (webviews) only:
///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 480px) {
    /* For the native mobile apps, there are some style overrides:
     * TBD - what MCKIN ticket were these for? */
     .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .drag-container {
        background-color: #f7f7f7;
        padding: 15px;
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .drag-container .item-bank {
        border: 0;
    }

    /* Give the draggables a white background and blue text: */
    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .option {
        margin: 5px 7px 5px 0;
        background-color: #fff;
        font-weight: 600;
        color: #193c56
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .popup .popup-header-icon {
        height: 32px;
        position: relative;
        margin-top: 10px;
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .popup .popup-header-icon span:before {
        content: "\f058";
        position: absolute;
        left: 50%;
        top: 7px;
        transform: translateX(-50%);
        width: 26px;
        height: 26px;
        color: #629a2c;
        font-family: 'FontAwesome';
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .popup .popup-content p {
        color: #629a2c;
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .popup .popup-content.popup-content-incorrect p {
        color: #ff143e;
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .popup button[class*="close"] span {
        font-size: 16px;
        font-weight: bold;
    }

    .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop .popup .popup-header-icon-incorrect span:before {
        content: "\f06a";
        color: #ff143d;
    }
}
