{% load i18n %}
<script class="zone-element-tpl" type="text/html">
    <div class="zone" data-zone="{% templatetag openvariable %}uid{% templatetag closevariable %}" style="
        top:{% templatetag openvariable %}y_percent{% templatetag closevariable %}%;
        left:{% templatetag openvariable %}x_percent{% templatetag closevariable %}%;
        width:{% templatetag openvariable %}width_percent{% templatetag closevariable %}%;
        height:{% templatetag openvariable %}height_percent{% templatetag closevariable %}%;">
        <p>{% templatetag openvariable %}title{% templatetag closevariable %}</p>
        <p class="sr">{% templatetag openvariable %}description{% templatetag closevariable %}</p>
    </div>
</script>

<script class="zone-input-tpl" type="text/html">
    <fieldset class="zone-row" data-uid="{% templatetag openvariable %}zone.uid{% templatetag closevariable %}">
        <button type="button" class="btn remove-zone hidden" title="{% trans 'Remove zone' %}">
            <span class="icon remove" aria-hidden="true"></span>
        </button>
        <label>
            <span>{% trans "Title" %}</span>
            <input type="text"
                   class="zone-title"
                   value="{% templatetag openvariable %}zone.title{% templatetag closevariable %}"
                   required />
        </label>
        <label>
            <span>{% trans "Description" %}</span>
            <input type="text"
                   class="zone-description"
                   value="{% templatetag openvariable %}zone.description{% templatetag closevariable %}"
                   aria-describedby="zone-description-description-{% templatetag openvariable %}zone.uid{% templatetag closevariable %}-{{id_suffix}}"
                   required />
            <div id="zone-description-description-{% templatetag openvariable %}zone.uid{% templatetag closevariable %}-{{id_suffix}}" class="form-help">
                {% trans "Describe this zone to non-visual users." %}
            </div>
        </label>
        <div class="layout">
            <label>
                <span>{% trans "width" %}</span>
                <input type="text"
                       class="zone-size zone-width"
                       value="{% templatetag openvariable %}zone.width{% templatetag closevariable %}" />
            </label>
            <label>
                <span>{% trans "height" %}</span>
                <input type="text"
                       class="zone-size zone-height"
                       value="{% templatetag openvariable %}zone.height{% templatetag closevariable %}" />
            </label>
            <br />
            <label>
                <span>x</span>
                <input type="text"
                       class="zone-coord zone-x"
                       value="{% templatetag openvariable %}zone.x{% templatetag closevariable %}" />
            </label>
            <label>
                <span>y</span>
                <input type="text"
                       class="zone-coord zone-y"
                       value="{% templatetag openvariable %}zone.y{% templatetag closevariable %}" />
            </label>
        </div>
        <div class="alignment">
            <label>
                <span>{% trans "Alignment" %}</span>
                <select class="zone-align-select"
                        aria-describedby="zone-align-description-{% templatetag openvariable %}zone.uid{% templatetag closevariable %}-{{id_suffix}}">
                    <option value="left"
                        {% templatetag openvariable %}#ifeq zone.align "left"{% templatetag closevariable %}selected{% templatetag openvariable %}/ifeq{% templatetag closevariable %}>
                        {% trans "left" %}
                    </option>
                    <option value="center"
                        {% templatetag openvariable %}#ifeq zone.align "center"{% templatetag closevariable %}selected{% templatetag openvariable %}/ifeq{% templatetag closevariable %}>
                        {% trans "center" %}
                    </option>
                    <option value="right"
                        {% templatetag openvariable %}#ifeq zone.align "right"{% templatetag closevariable %}selected{% templatetag openvariable %}/ifeq{% templatetag closevariable %}>
                        {% trans "right" %}
                    </option>
                </select>
            </label>
            <div id="zone-align-description-{% templatetag openvariable %}zone.uid{% templatetag closevariable %}-{{id_suffix}}" class="form-help">
                {% trans "Align dropped items to the left, center, or right." %}
            </div>
        </div>
    </fieldset>
</script>

<script class="zone-checkbox-tpl" type="text/html">
    <div class="zone-checkbox-row">
        <label class="checkbox-label">
            <input type="checkbox"
                   value="{% templatetag openvariable %}zoneUid{% templatetag closevariable %}"
                   class="zone-checkbox"
                   {% templatetag openvariable %}checked{% templatetag closevariable %} />
            {% templatetag openvariable %}title{% templatetag closevariable %}
        </label>
    </div>
</script>

<script class="item-input-tpl" type="text/html">
    <fieldset class="item">
        <button type="button" class="btn remove-item hidden" title="{% trans 'Remove item' %}">
            <span class="icon remove" aria-hidden="true"></span>
        </button>
        <div class="row">
            <label class="h4">
                {% trans "Text" %}
                <input type="text"
                       aria-describedby="item-text-description-{% templatetag openvariable %}index{% templatetag closevariable %}-{{id_suffix}}"
                       class="item-text"
                       value="{% templatetag openvariable %}displayName{% templatetag closevariable %}" />
            </label>
            <div id="item-text-description-{% templatetag openvariable %}index{% templatetag closevariable %}-{{id_suffix}}" class="form-help">
                {% trans "Use text that is clear and descriptive of the item to be placed." %}
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend class="h4">
                    {% trans "Zones" %}
                </legend>
                {% templatetag openvariable %}checkboxes{% templatetag closevariable %}
            </fieldset>
        </div>
        <div class="row">
            <label class="h4">
                {% trans "Image URL (alternative to the text)" %}
                <input type="text"
                       aria-describedby="item-image-url-description-{% templatetag openvariable %}index{% templatetag closevariable %}-{{id_suffix}}"
                       class="item-image-url"
                       value="{% templatetag openvariable %}imageURL{% templatetag closevariable %}" />
            </label>
            <div id="item-image-url-description-{% templatetag openvariable %}index{% templatetag closevariable %}-{{id_suffix}}" class="form-help">
                {% trans "For example, 'http://example.com/image.png' or '/static/image.png'." %}
            </div>
        </div>
        <div class="row">
            <label class="h4">
                <span>{% trans "Image description (should provide sufficient information to place the item even if the image did not load)" %}</span>
                <textarea {% templatetag openvariable %}#if imageURL{% templatetag closevariable %}required{% templatetag openvariable %}/if{% templatetag closevariable %} class="item-image-description">{% templatetag openvariable %}imageDescription{% templatetag closevariable %}</textarea>
            </label>
        </div>
        <div class="row">
            <label class="h4">
                <span>{% trans "Success feedback" %}</span>
                <textarea class="success-feedback">{% templatetag openvariable %}feedback.correct{% templatetag closevariable %}</textarea>
            </label>
        </div>
        <div class="row">
            <label class="h4">
                <span>{% trans "Error feedback" %}</span>
                <textarea class="error-feedback">{% templatetag openvariable %}feedback.incorrect{% templatetag closevariable %}</textarea>
            </label>
        </div>
        <div class="row advanced-link">
            <button type="button">{% trans "Show advanced settings" %}</button>
        </div>
        <div class="row advanced">
            <label class="h4">
                <span>{% trans "Preferred width" %}</span>
                <input type="number"
                       class="item-width"
                       value="{% templatetag openvariable %}singleDecimalFloat widthPercent{% templatetag closevariable %}"
                       aria-describedby="item-width-description-{% templatetag openvariable %}index{% templatetag closevariable %}-{{id_suffix}}"
                       step="0.1"
                       min="1"
                       max="99" />%
            </label>
            <div id="item-width-description-{% templatetag openvariable %}index{% templatetag closevariable %}-{{id_suffix}}" class="form-help">
                {% trans "Specify preferred width as percentage of the background image width. Leave blank for automatic width." %}
            </div>
        </div>
    </fieldset>
</script>

<script class="autozone-tpl" type="text/html">
    <svg xmlns="http://www.w3.org/2000/svg" width="{% templatetag openvariable %}width{% templatetag closevariable %}" height="{% templatetag openvariable %}height{% templatetag closevariable %}">
        <rect x="0" y="0" width="100%" height="100%" fill="#fff" />
        {% templatetag openvariable %}#each zones{% templatetag closevariable %}
            <rect x="{% templatetag openvariable %}x{% templatetag closevariable %}"
                  y="{% templatetag openvariable %}y{% templatetag closevariable %}"
                  width="{% templatetag openvariable %}width{% templatetag closevariable %}"
                  height="{% templatetag openvariable %}height{% templatetag closevariable %}"
                  fill="#f7f7f7"
                  rx="10"
                  ry="10"
                  stroke="#d6d6d6"
                  stroke-width="2"
                  stroke-dasharray="3,3" />
        {% templatetag openvariable %}/each{% templatetag closevariable %}
    </svg>
</script>
